[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/reflect-cpp"]
	path = extern/reflect-cpp
	url = https://github.com/getml/reflect-cpp
[submodule "extern/wasm-micro-runtime"]
	path = extern/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
